{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Top 250 Cities</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for city in top_cities %}
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="{{ city.image.url }}" alt="Image of {{ city.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ forloop.counter }}. {{ city.name }}</h5>
                        <p class="card-text"><strong>Country:</strong> {{ city.country }}</p>
                        <p class="card-text"><strong>Rate:</strong> {{ city.rate }}</p>
                        <p class="card-text">{{ city.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
