{% extends 'base.html' %}
{% block content %}
<div class="card mb-3">
    <div class="row g-0">
        <div>
            <div class="card-body">
                <h5 class="card-tittle">Sign Up</h5>
                {% if error %}
                <div class="alert alert-danger mt-3" rote="alert">
                    {{ error }}
                </div>
                {% endif %}
                <p class="card-text">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary">
                            Sign Up
                        </button>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}