{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/singup.css' %}">
    {% endblock style %}
</head>
<form class="form">
    {% if error %}
    <div class="alert alert-danger mt-3" rote="alert">
        {{ error }}
    </div>
    {% endif %}
    <p class="title">Register </p>
    <p class="message">Signup now and get full access to our app. </p>

    <label>
        <input class="input" type="text" placeholder="" required="">
        <span>Username</span>
    </label> 
       
    <label>
        <input class="input" type="email" placeholder="" required="">
        <span>Email</span>
    </label> 
        
    <label>
        <input class="input" type="password" placeholder="" required="">
        <span>Password</span>
    </label>

    <label>
        <input class="input" type="password" placeholder="" required="">
        <span>Confirm password</span>
    </label>
    
    <button class="submit">Submit</button>
    <p class="signin">Already have an acount ? <a href="{% url 'loginaccount' %}">Login</a> </p>
</form>
{% endblock content %}