{% extends 'base.html' %}
{% block content %}

<head>
    <title>Reseñas de {{ city.name }}</title>
   
</head>
    <h1>Reseñas de {{ city.name }}</h1>
    
    {% if reviews %}
        {% for review in reviews %}
        <div class="card mb-3">
            <div class="row g-0">
                <div>
                    <div class="card-body">
                        <h2 class="card-title">{{ review.city }}</h2>
                        <p class="card-text">{{ review.general_review }}</p>
                        <p class="card-text">Touristic Places Rate: {{ review.touristic_places_rate }}</p>
                        <p class="card-text">History & Culture Rate: {{ review.history_and_culture_rate }}</p>
                        <p class="card-text">Gastronomy Rate: {{ review.gastronomy_rate }}</p>
                        <p class="card-text">Costs Rate: {{ review.costs_rate }}</p>
                        <p class="card-text">Safety Rate: {{ review.safety_rate }}</p>
                        <p class="card-text">Weather Rate: {{ review.weather_rate }}</p>
                        <p class="card-text">General Rate: {{ review.general_rate }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No hay reseñas para esta ciudad.</p>
    {% endif %}
{% endblock content %}
    

