{% extends 'base.html' %}
{% block content %}
<body>
    <section id="Form">
        <div class="container mt-5">
            <h2 class="text-center">Crear Nueva Ruta</h2>
            <div class="d-flex justify-content-center mt-4">
                <a href="#RecomendacionLista" class="btn btn-primary mx-2">Recomendacion a partir de una lista</a>
                <a href="#RecomendacionDescripcion" class="btn btn-warning mx-2">Recomendacion a partir de una descripcion</a>
                <a href="#CreacionOrigen" class="btn btn-danger mx-2">Creacion de ruta con origen y tiempo</a>
            </div>
            <br>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Nombre de la Ruta: </label>
                    {{ form.name }}
                </div>
                <br>
                <div class="form-group">
                    <label for="cities">Ciudades (separadas por comas): </label>
                    {{ form.cities }}
                </div>
                <br>
                <div class="form-group">
                    <label for="description">Descripción: </label>
                    {{ form.description }}
                </div>
                <br>
                <div class="form-group">
                    <label for="estado">Estado: </label>
                    {{ form.estado }}
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Crear Ruta</button>
            </form>
        </div>
    </section>

    <section id="RecomendacionLista">

    </section>

    <section id="RecomendacionDescripcion">

    </section>
    
    <section id="CreacionOrigen">

    </section>
</body>
{% endblock content %}