{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container mt-5">
        <h2 class="text-center">Editar Ruta: {{ route.name }}</h2>

        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        
        <h2>Modificar Ruta</h2>
    
        <h3>Detalles de la Ruta:</h3>
        <p><strong>Nombre:</strong> {{ route.name }}</p>
        <p><strong>Ciudades:</strong> 
            {% for city in route.cities.all %}
                {{ city.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p><strong>Descripción:</strong> {{ route.description }}</p>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </form>
    </div>
</body>
{% endblock content %}